<head>
  <!-- FontAwesome pour les icônes -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet">
</head>

<!-- Sidebar -->
<div class="sidebar" [class.collapsed]="isSidebarCollapsed">
  <button class="toggle-btn"  routerLink="/laboratoire">
    <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
    Laboratoires
  </button>

  <!-- Logo et Nom du Laboratoire -->
  <div class="lab-header" *ngIf="!isSidebarCollapsed">
    <img [src]="laboratoire.logo" alt="Logo du laboratoire" class="lab-logo" />
    <h3 class="lab-name">{{ laboratoire.nom }} </h3>
  </div>

  <!-- Menu de navigation -->
  <ul>
    <li>
      <a
        [class.active]="activeMenu === 'laboratoire'"
        (click)="activeMenu = 'laboratoire';toggleSection('laboratoire')">
        <i class="fas fa-info-circle"></i>
        <span *ngIf="!isSidebarCollapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a
        [class.active]="activeMenu === 'contacts'"
        (click)="activeMenu = 'contacts';toggleSection('contacts')">
        <i class="fas fa-address-book"></i>
        <span *ngIf="!isSidebarCollapsed">Contacts</span>
      </a>
    </li>
    <li>
      <a

        [class.active]="activeMenu === 'analyses'"
        (click)="activeMenu = 'analyses';toggleSection('analyses')">
        <i class="fas fa-vial"></i>
        <span *ngIf="!isSidebarCollapsed">Analyses</span>
      </a>
    </li>
    <li>
      <a

        [class.active]="activeMenu === 'utilisateurs'"
        (click)="activeMenu = 'utilisateurs'; toggleSection('utilisateurs')">
        <i class="fas fa-users"></i>
        <span *ngIf="!isSidebarCollapsed">Utilisateurs</span>
      </a>
    </li>
    <li>
      <a
        [class.active]="activeMenu === 'patients'"
        (click)="activeMenu = 'patients'; toggleSection('patients')">
        <i class="fas fa-procedures"></i>
        <span *ngIf="!isSidebarCollapsed">Patients</span>
      </a>
    </li>

  </ul>
  <div class="sidebar-footer">
    <ul>
      <li>
        <a
          href="profile"
          [class.active]="activeMenu === 'profile'"
          (click)="activeMenu = 'profile'"
        >
          <i class="fas fa-user"></i
          ><span *ngIf="!isSidebarCollapsed">Profile</span>
        </a>
      </li>
    </ul>
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="!isSidebarCollapsed">Deconnexion</span>
    </button>
  </div>
</div>

<div class="main-content">
  <!-- Card Laboratoire -->
  <div  *ngIf="showLaboratoire">
    <div class="card-header  text-dark d-flex justify-content-between align-items-center">
      <i class="fas fa-info-circle"></i>
      <h5 class="mb-0">Dashboard</h5>
      <button class="btn " >

      </button>
      </div>
    <div class="card-body container-fluid">
      <div class="row d-flex align-items-stretch">
        <!-- Colonne Informations -->
        <div class="col-md-4 ">
          <div class="card  ">
            <div class="card-body text-center d-flex flex-column">
              <img
                [src]="laboratoire.logo"
                alt="Logo du laboratoire"
                class="img-fluid rounded-circle mb-3"
                style="width: 120px; height: 120px; object-fit: cover;"
              />
              <h5 class="card-title">{{ laboratoire.nom }}</h5>
              <p><strong>NRC:</strong> {{ laboratoire.nrc }}</p>
              <p><strong>Activation:</strong> {{ laboratoire.dateActivation | date }}</p>
              <p>
                <strong>Actif:</strong>
                <span [class.text-success]="laboratoire.active" [class.text-danger]="!laboratoire.active">
              {{ laboratoire.active ? 'Oui' : 'Non' }}
            </span>
              </p>
              <div  *ngIf="laboratoire.contacts && laboratoire.contacts.length > 0">
                <p>
                  <strong>Adresse :</strong>
                  {{ laboratoire.contacts[0].adresse.numVoie }} {{ laboratoire.contacts[0].adresse.nomVoie }},
                  {{ laboratoire.contacts[0].adresse.codePostal }} {{ laboratoire.contacts[0].adresse.ville }},
                  {{ laboratoire.contacts[0].adresse.commune }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Colonne Graphiques -->
        <div class="col-md-8">
          <div class="row d-flex align-items-stretch">
            <!-- Graphique Utilisateurs -->
            <div class="col-md-6 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-header text-center font-weight-bold">Utilisateurs par rôle</div>
                <div class="card-body">
                  <canvas
                    baseChart
                    [data]="utilisateurChartData"
                    [type]="utilisateurChartType"
                    style="width: 100%; height: 300px;">
                  </canvas>
                </div>
              </div>
            </div>

            <!-- Graphique Nombre d'analyses -->
            <div class="col-md-6 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-header text-center font-weight-bold">Nombre d'analyses</div>
                <div class="card-body">
                  <canvas
                    baseChart
                    [data]="analyseChartData"
                    [type]="analyseChartType"
                    style="width: 100%; height: 300px;">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Actions -->
          <div class="d-flex justify-content-center mt-3">
            <button (click)="toggleModalEdit(laboratoire)" class="btn btn-primary me-3">
              <i class="fas fa-edit"></i> Modifier
            </button>
            <button (click)="DesActiverLaboratoire(laboratoire.id)" class="btn btn-danger">
              <i class="fas fa-archive"></i> Archiver
            </button>
          </div>
        </div>

    </div>


  </div>

  <!-- Card Contacts -->
  <div  *ngIf="showContacts">
    <div class="card-header  text-dark d-flex justify-content-between align-items-center">
      <i class="fas fa-address-book text-primary"></i>
      <h5 class="mb-0">Contacts associés</h5>
      <button class="btn btn-primary btn-sm" (click)="toggleModal()">
       Ajouter Contact
      </button>

    </div>
    <div class="card-body" *ngIf="showContacts">
      <div class="container mt-4">

        <div class="row">
          <div *ngFor="let contact of laboratoire.contacts; let i = index" class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"> contact {{ i+1}}</h5>
                <p class="card-text">
                  <strong>Email :</strong> {{ contact.email }} <br />
                  <strong>Telephone :</strong> {{ contact.numTel }} <br />
                  <strong>Fax :</strong> {{ contact.fax }}
                </p>
              </div>

              <div class="card-footer text-center">
                <button class="btn btn-danger" (click)="deleteContact(contact.id)"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>



  <!-- Card Analyses -->
  <div *ngIf="showAnalyses" >
    <div class="card-header  text-dark d-flex justify-content-between align-items-center">
        <i class="fas fa-vial text-primary me-2"></i>
        <h5 class="mb-0">Analyses associées</h5>

    <button class="btn btn-primary" (click)="toggleModal2()">
       Ajouter Analyse
      </button>
    </div>

    <div class="card-body">
      <div class="container mt-3">
        <div class="row">
          <div *ngFor="let analyse of analyse" class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm h-100"  style="cursor: pointer;">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <!-- Contenu aligné à gauche -->
                  <div class="d-flex align-items-center flex-grow-1">
                    <i class="fas fa-flask text-info me-3 fa-2x"></i>
                    <h5 class="card-title  mb-0">{{ analyse.nom }}</h5>
                  </div>

                  <!-- Icône de suppression alignée à droite -->
                  <button class="btn btn-danger fa-2x" (click)="deleteAnalyse(analyse.id)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>

                <p class="card-text text-muted">
                  <strong>Description :</strong> {{ analyse.description }}
                </p>
              </div>
              <div class="card-footer text-end bg-light">
                <button class="btn btn-outline-primary btn-sm"(click)="navigateToEpreuveDetails(analyse.id)">
                  Voir les epreuves <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section des épreuves -->
  <div *ngIf="showEpreuves">
    <div class="card-header text-dark d-flex justify-content-between align-items-center">
      <i class="fas fa-vials text-primary"></i>
      <h5 class="mb-0">Épreuves associées</h5>


      <button class="btn btn-primary btn-sm" (click)="openModalForEpreuve()">Ajouter Épreuve</button>

    </div>
    <div class="card-body">
      <div *ngIf="epreuves && epreuves.length > 0; else noEpreuves">
        <div class="row mt-4">
          <div *ngFor="let epreuve of epreuves" class="col-md-4 mb-3">
            <div class="card h-100" >
              <div class="card-body">
                <!-- Affichage du nom de l'épreuve -->
                <h5 class="card-title text-primary">{{ epreuve.nom }}</h5>

                <!-- Affichage des détails de testAnalyse -->
                <div *ngIf="epreuve.testAnalyse">
                  <p><strong>Nom du Test :</strong> {{ epreuve.testAnalyse.nomTest }}</p>
                  <p><strong>Sous-Épreuve :</strong> {{ epreuve.testAnalyse.sousEpreuve }}</p>
                  <p><strong>Intervalle de Référence :</strong>
                    {{ epreuve.testAnalyse.intervalMinDeReference }} - {{ epreuve.testAnalyse.intervalMaxDeReference }} {{ epreuve.testAnalyse.uniteDeReference }}
                  </p>
                  <p *ngIf="epreuve.testAnalyse.details"><strong>Détails :</strong> {{ epreuve.testAnalyse.details }}</p>
                </div>
                <div *ngIf="!epreuve.testAnalyse" class="text-muted">
                  Pas de testAnalyse associé.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noEpreuves>
        <p class="text-muted mt-3">Aucune épreuve trouvée pour cette analyse.</p>
      </ng-template>
    </div>
  </div>



  <!-- Card patient -->
  <div  *ngIf="showPatient">
    <div class="card-header  text-dark d-flex justify-content-between align-items-center">
      <i class="fas fa-procedures text-primary"></i>
      <h5 class="mb-0">Patients associés</h5>
      <button class="btn " >

      </button>

    </div>
    <div class="card-body" *ngIf="showContacts">
      <div class="container mt-4">

        <div class="row">
          <div *ngFor="let contact of laboratoire.contacts; let i = index" class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"> contact {{ i+1}}</h5>
                <p class="card-text">
                  <strong>Email :</strong> {{ contact.email }} <br />
                  <strong>Telephone :</strong> {{ contact.numTel }} <br />
                  <strong>Fax :</strong> {{ contact.fax }}
                </p>
              </div>

              <div class="card-footer text-center">
                <button class="btn btn-danger" (click)="deleteContact(contact.id)"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Card Utilisateurs -->
  <div  *ngIf="showUtilisateurs">
    <div class="card-header  text-dark d-flex justify-content-between align-items-center">
      <i class="fas fa-users text-primary me-2"></i>
      <h5 class="mb-0">Utilisateurs associés</h5>
      <button class="btn btn-primary btn-sm" (click)="toggleAddUserModal()">
     Ajouter Utilisateur
      </button>
    </div>
    <div class="container mt-4">

      <div class="row">
        <div *ngFor="let user of utilisateur" class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ user.nomComplet }}</h5>
              <p class="card-text">
                <strong>Email :</strong> {{ user.email }} <br />
                <strong>Profession :</strong> {{ user.profession }} <br />
                <strong>Telephone :</strong> {{ user.numTel }} <br />
                <strong>Rôle :</strong> {{ user.role }}
              </p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary " (click)="editUserRole(user.email)">  <i class="fas fa-edit"></i></button>


              <button class="btn btn-danger" (click)="deleteUtilisateur(user.email,laboratoire.id)">
                <i class="fas fa-trash"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>
  <div
    class="modal"
    [ngClass]="{ 'show d-block': isModalVisible, 'd-none': !isModalVisible }"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un Contact</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="toggleModal()"></button>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(laboratoire.id,laboratoire.contacts[0].adresse.id)">
          <div class="modal-body">
            <div class="form-row">
              <label for="numTel" class="form-label">Téléphone :</label>
              <input id="numTel" formControlName="numTel" type="text" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-row">
              <label for="fax" class="form-label">Fax :</label>
              <input id="fax" formControlName="fax" type="text" class="form-control" placeholder="Fax">
            </div>
            <div class="form-row">
              <label for="email" class="form-label">Email :</label>
              <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="modal-footer">

            <button type="submit" class="submit">Enregistrer</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <!-- Modale pour ajouter un utilisateur -->
  <div
    class="modal"
    [ngClass]="{ 'show d-block': isAddUserModalVisible, 'd-none': !isAddUserModalVisible }"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un Utilisateur</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="toggleAddUserModal()"></button>
        </div>
        <form [formGroup]="addUtilisateurForm" (ngSubmit)="onAddUtilisateurSubmit(laboratoire.id)">
          <div class="modal-body">
            <div class="form-row">
              <label for="nomComplet">Nom Complet :</label>
              <input id="nomComplet" formControlName="nomComplet" type="text" class="form-control" placeholder="Nom complet">
            </div>
            <div class="form-row">
              <label for="email">Email :</label>
              <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-row">
              <label for="password" >Mot de passe :</label>
              <input id="password" formControlName="password" type="password" class="form-control" placeholder="Mot de passe">
            </div>
            <div class="form-row">
              <label for="profession">Profession :</label>
              <input id="profession" formControlName="profession" type="text" class="form-control" placeholder="Profession">
            </div>
            <div class="form-row">
              <label for="numTel">Téléphone :</label>
              <input id="numTel" formControlName="numTel" type="text" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-row">
              <label for="role">Rôle :</label>
              <select id="role" formControlName="role" class="form-control" type="text">
                <option value="" disabled selected>Sélectionnez un rôle</option>
                <option value="docteur">Docteur</option>
                <option value="technicien">Technicien</option>
              </select>
            </div>
            <div class="form-row">
              <label for="signature">Signature :</label>
              <input id="signature" formControlName="signature" type="text" class="form-control" placeholder="Signature">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>





<div
  class="modal"
  [ngClass]="{ 'show d-block': showModal, 'd-none': !showModal }"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ currentStep === 1
          ? 'Ajouter Analyse'
          : currentStep === 2
            ? 'Ajouter Épreuve'
            : 'Ajouter Test Analyse' }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Étape 1: Ajouter Analyse -->
        <form *ngIf="currentStep === 1" [formGroup]="analyseForm" (ngSubmit)="submitAnalyse(laboratoire.id)">
          <div class="form-row">
            <label for="nom">Nom :</label>
            <input
              id="nom"
              formControlName="nom"
              type="text"
              class="form-control"
              placeholder="Nom de l'analyse"
              required
            />
          </div>
          <div class="form-row">
            <label for="description">Description :</label>
            <input
              id="description"
              formControlName="description"
              type="text"
              class="form-control"
              placeholder="Description"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
            <button type="submit" class="btn btn-primary">Suivant</button>
          </div>
        </form>

        <!-- Étape 2: Ajouter Épreuve -->
        <form *ngIf="currentStep === 2" [formGroup]="epreuveForm" (ngSubmit)="nextStep()">
          <div class="form-row">
            <label for="nom">Nom de l'Épreuve :</label>
            <input
              id="nom"
              formControlName="nom"
              type="text"
              class="form-control"
              placeholder="Nom de l'épreuve"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="previousStep()">Précédent</button>
            <button type="submit" class="btn btn-primary">Suivant</button>
          </div>
        </form>

        <!-- Étape 3: Ajouter Test Analyse -->
        <form *ngIf="currentStep === 3" [formGroup]="testAnalyseForm" (ngSubmit)="submitEpreuveEtTestAnalyse()">
          <div class="form-row">
            <label for="nomTest">Nom du Test :</label>
            <input
              id="nomTest"
              formControlName="nomTest"
              type="text"
              class="form-control"
              placeholder="Nom du test"
              required
            />
          </div>
          <div class="form-row">
            <label for="sousEpreuve">Sous Epreuve :</label>
            <input
              id="sousEpreuve"
              formControlName="sousEpreuve"
              type="text"
              class="form-control"
              placeholder="Sous épreuve"
              required
            />
          </div>
          <div class="form-row">
            <label for="intervalMin">Interval Min :</label>
            <input
              id="intervalMin"
              formControlName="intervalMinDeReference"
              type="number"
              class="form-control"
            />
          </div>
          <div class="form-row">
            <label for="intervalMax">Interval Max :</label>
            <input
              id="intervalMax"
              formControlName="intervalMaxDeReference"
              type="number"
              class="form-control"
            />
          </div>
          <div class="form-row">
            <label for="unite">Unité :</label>
            <input
              id="unite"
              formControlName="uniteDeReference"
              type="text"
              class="form-control"
              placeholder="Unité de mesure"
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="previousStep()">Précédent</button>
            <button type="submit" class="btn btn-success">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <div
    class="modal"
    [ngClass]="{ 'show d-block': isEditModalVisible, 'd-none': !isEditModalVisible }"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifier le Laboratoire</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="isEditModalVisible = false"></button>
        </div>
        <form [formGroup]="editLaboratoireForm" (ngSubmit)="onEditLaboratoireSubmit(laboratoire.id)">
          <div class="modal-body">
            <div class="form-row">
              <label for="nom">Nom :</label>
              <input
                id="nom"
                formControlName="nom"
                type="text"
                class="form-control"
                placeholder="Nom du laboratoire"
              />
            </div>
            <div class="form-row">
              <label for="nrc">NRC :</label>
              <input
                id="nrc"
                formControlName="nrc"
                type="text"
                class="form-control"
                placeholder="Numéro NRC"
              />
            </div>
            <div class="form-row">
              <label for="logo">Logo :</label>
              <input
                id="logo"
                type="file"
                class="form-control"
                (change)="onFileChange($event)"
              />
            </div>
            <div class="form-row">
              <label for="dateActivation">Date d'activation :</label>
              <input
                id="dateActivation"
                formControlName="dateActivation"
                type="date"
                class="form-control"
              />
            </div>
            <div class="form-row">
              <label for="active">Actif :</label>
              <input
                id="active"
                formControlName="active"
                type="checkbox"
                class="form-check-input"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="submit">Enregistrer</button>
          </div>

        </form>

      </div>

    </div>



  </div>





