<!-- Conteneur principal pour la page entière -->
<div class="page-container">

  <!-- Conteneur principal pour l'authentification -->
  <div class="auth-container">
    <div class="auth-card">
      <h2>{{ isLogin ? 'Connexion' : 'Inscription' }}</h2>

      <!-- Formulaire de connexion -->
      <form *ngIf="isLogin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input type="email" formControlName="email" placeholder="Email" required />
        <input type="password" formControlName="password" placeholder="Mot de passe" required />
        <button type="submit">Se connecter</button>
        <a (click)="toggleAuthMode()">Créer un compte</a>
      </form>
    </div>
  </div>

</div>
