<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet">
</head>

<div class="sidebar " [class.collapsed]="isSidebarCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
  </button>
  <h3 *ngIf="!isSidebarCollapsed">Menu</h3>
  <ul>
    <li>
      <a
        href="laboratoire"
        [class.active]="activeMenu === 'laboratoires'"
        (click)="activeMenu = 'laboratoires'">
        <i class="fas fa-flask"></i> <span *ngIf="!isSidebarCollapsed">Laboratoires</span>
      </a>
    </li>
    <li>
      <a
        href="NonActifs"
        [class.active]="activeMenu === 'archive'"
        (click)="activeMenu = 'archive'">
        <i class="fas fa-archive"></i><span *ngIf="!isSidebarCollapsed">Archive</span>
      </a>
    </li>
    <li>
      <a
        href="dossier"
        [class.active]="activeMenu === 'dossier'"
        (click)="activeMenu = 'dossier'">
        <i class="fas fa-folder"></i><span *ngIf="!isSidebarCollapsed">Dossiers</span>
      </a>
    </li>
  </ul>
</div>
